In [8]:
a=1
print(type(a))
my_name='Nitin'
daughter_name='Naira'
print("My name is {} and my daughter's name is {}".format(my_name,daughter_name))
print(len('Nitin'))

#Advanced Print function
arr=[1,2,3,4,5]
print("Advanced Print function")
for i in range(len(arr)):
  print(arr[i],end=" ")
print()

#Lists
b=[3,2,1]
b.extend([4,5])
print(b)
b.append(6)
print(b)
b.pop(2)
print(b)
print(b.count(4))
print(sum(b))
print(b.index(5))
b.sort()
print(b)


#Sets : Lists with no duplicate elements
a={1,2,3}
print("type of a is",type(a))
print("Set is",a)
a.add(4)
print("Set is",a)
a.add(4)
print("Set is",a)


#Dictionaries : Keys and Values
c={}
print("type of c is",type(c))
c={"a":"b","c":"d","e":1,"f":[1,2,3,4]}
print("This is dict")
print(c)
print(c["f"])
print("This is dict")
for x in c:
    print(x)
print("This is dict values")
for x in c.values():
    print(x)
print("This is dict items both arguments")
for k,v in c.items():
    print(k,v)
print("This is dict items first argument")
for x in c.items():
    print(x)
    
#Tuple Array which can't be changed (immutable)
a=(1,2,3)
print(type(a))

#String formst function
str1='Nitin'
age=35
print("My Name is "+str1)
print("My name is {} and age is {}".format(str1,age))

#Iterator
list1=(1,2,3) #Stores all in memory all at once
list2=iter(list1) #Stores only the first element, rest can be fetched using next(list)
print(next(list2))
for i in list2: # For loop works in the same manner as in list 1 as list 2
    print(i)

<class 'int'>
My name is Nitin and my daughter's name is Naira
5
Advanced Print function
1 2 3 4 5
[3, 2, 1, 4, 5]
[3, 2, 1, 4, 5, 6]
[3, 2, 4, 5, 6]
1
20
3
[2, 3, 4, 5, 6]
type of a is <class 'set'>
Set is {1, 2, 3}
Set is {1, 2, 3, 4}
Set is {1, 2, 3, 4}
type of c is <class 'dict'>
This is dict
{'a': 'b', 'c': 'd', 'e': 1, 'f': [1, 2, 3, 4]}
[1, 2, 3, 4]
This is dict
a
c
e
f
This is dict values
b
d
1
[1, 2, 3, 4]
This is dict items both arguments
a b
c d
e 1
f [1, 2, 3, 4]
This is dict items first argument
('a', 'b')
('c', 'd')
('e', 1)
('f', [1, 2, 3, 4])
<class 'tuple'>
My Name is Nitin
My name is Nitin and age is 35
1
2
3

#### Keyword and positional arguments
#### Decorators

In [2]:
#pargs is positional arguments while kargs is keyword arguments

def profile(*pargs, **kargs):
    print(pargs)
    print (kargs)
    
profile("nitin","verma", age=24, dob=1985)

def f1(f2):
  print("In f1")
  return(f2)

@f1
def f2():
  print("In f2")

f2()

('nitin', 'verma')
{'age': 24, 'dob': 1985}
In f1
In f2

#### Lambda functions, apply, map,  filter, list comprehension

In [12]:
square=lambda x:x*x
square(11)
even=lambda x:x%2==0

import pandas as pd
d={'a':[1,2,3],'b':[4,5,6]}
df=pd.DataFrame(d)
print(df)
df=df.apply(lambda x:x+100) # Left side of lambda function is i/p, Right is o/p, applying here on all columns
print(df)
df=df.a.apply(lambda x: x*x) # Lambda functions are only possible when there is a single expression, applying here on one column
print(df)
df=list(map(square,[1,2,3,4,5])) #Applies functions on all elements of list
print(df)
df=list(filter(even,[1,2,3,4,5,6,7,8])) #Applies filter on all elements of a list
print(df)
# list1=[1,2,3,4,5]
# list2=[i*i for i in list1 if i%2!=0] #This is list comprehension (mixture of map and filter)

   a  b
0  1  4
1  2  5
2  3  6
     a    b
0  101  104
1  102  105
2  103  106
0    10201
1    10404
2    10609
Name: a, dtype: int64
[1, 4, 9, 16, 25]
[2, 4, 6, 8]

#### OOPS in Python

In [16]:
class car:
    wheels=4
    def __init__(self,enginetype,seats,windows): #This is the constructor
        self.enginetype=enginetype #This executes automatically when an object is created
        self.seats=seats
        self.windows=windows
    def normalcar(self):
        if(self.enginetype=='Petrol' and self.seats==4):
            print("Its a normal car")
        else:
            print("This is not a normal car")
#     @classmethod        
    def get_wheels(cls):
      return(cls.wheels)
    
a=car('Petrol',4,3)
b=car('Petrol',4,3)
a.normalcar()
print(b.wheels)
car.wheels=3
print(b.wheels)
print(car.get_wheels(car))
car.wheels



# Inheritance

class A:
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def f1(self):
    print("In f1")

class B(A):
  def __init__(self,x,y):
    super.__init__(self.x,self.y)
  def f2(self):
    print("In f2")

a=A(1,2)
# print(a.x)
# a.f1()

# Polymorphism (1 thing, many forms) - Duck typing, Operator overloading, Method overloading, Method overriding

#Duck typing: If a method with the same name is present in 2 classes, you can call it from objects of either class

# Operator overloading : Rewriting default functions for our own classes (like __add__ for a class won't work usually, but if we write it, it will work) 

# Method overloading : You can pass more variables (infinite) in a function and keep their default values as None (since all of them won't be passed)

#Method overriding : You write a function in the child class that overrides the same function in parent class

Its a normal car
4
3
3

#### Reading a file

In [ ]:
with open ('data.txt','r') as f:
  contents=f.read()

FileNotFoundError: ignored

### Regular expressions in Python

- . : Any character 
- \d : Digits
- \D : Not a Digit
- \w or \W : Normal character (includes chars, numbers, underscore)
- \s or \S : Whitespace (space/tab/newline)
- \b or \B : Word boundry
- \^ or \$ : Start of a String or End of a string 
- [] : Character set: Matches a range like [a-z1-9]. Add ^ for opposite inside the []. 
- \. : Matches any character except new line
- \*  : 0 or more (to be put after a character)
- \+ : 1 or more (to be put after a character)
- \? : 0 or 1 (to be put after a character)
- {3} : Exact number(to be put after a character)
- {3,4} : Range of numbers (min and max) (to be put after a character)
- Or is denoted by |

### SQL

- % : Zero or more characters
- _ : One character

In [30]:
import re
str=r"""My name is Nitin and  Nitvik.My daughter's name is Naira.NAIRA is 6 years old
while Nitin is 35 years old.My phone number is 0475281321 and Nikita's phone number is 
0475281796.475 281 321. Nitinverma85@gmail.com, Naira.Verma14@gmail.com."""

str1="Nitin has 3 cats but is happy. Naira has 2 dogs and is not happy. Nikita has 3 cows"
# We've used r above to ensure python special characters become text. 
#So, for example, new line becomes \n. Note that \n is 1 character


print(re.search('Nitin',str).start()) # Matches anywhere in the string, but only the first instance
re.match('Nitin',str) # Matches at the beginning of the string
print(re.findall('Nitin',str)) # Finds number of instances

#If you want to find position of all instances of the string
pattern=re.compile('Nitin')
iterator=pattern.finditer(str)
for iter in iterator:
    print (iter.start())
    

# Replace double spaces by single spaces
print(" ".join(re.findall('\S+',str)))

# Find all words starting with capital letters
print(re.findall('[A-Z][A-Za-z]+',str))

#Find how many animals each person has in string 2
print(re.findall('[A-za-z,\s]+\d\s[a-z]+',str1))

11
['Nitin', 'Nitin', 'Nitin']
11
84
190
My name is Nitin and Nitvik.My daughter's name is Naira.NAIRA is 6 years old while Nitin is 35 years old.My phone number is 0475281321 and Nikita's phone number is 0475281796.475 281 321. Nitinverma85@gmail.com, Naira.Verma14@gmail.com.
['My', 'Nitin', 'Nitvik', 'My', 'Naira', 'NAIRA', 'Nitin', 'My', 'Nikita', 'Nitinverma', 'Naira', 'Verma']
['Nitin has 3 cats', ' Naira has 2 dogs', ' Nikita has 3 cows']

In [37]:
import re
str="I am Nitin 56"

pattern=re.compile(r'\d')
for iter in pattern.finditer(str):
    print (str[iter.span()[0]],end="")

56

In [46]:
a=lambda x:x+5
a(5)

10

#SQL joins

1. All permutations and combinations if you write select t1.a,t2.b from t1,t2
2. Matching combinations if you write select t1.a,t2.b from t1,t2 where t1.a=t2.b
3. Same as inner join when you write select t1.a,t2.b from t1 inner join t2 where t1.a=t2.b
4.